
<div class = 'contenedor'>

  <h1 *ngIf="mostrarSaludo" [ngClass]="colorSaludo">
    ¡Hola, {{nombre}}!
  </h1>


  <div class = 'botones'>
    <ng-container *ngIf="mostrarSaludo; else soloBotonMostrar">
      <button (click)="cambiarColor('rojo')"> Saludo en ROJO</button>
      <button (click)="cambiarColor('verde')"> Saludo en VERDE</button>
      <button (click)="invertirEstadoSaludo()" > Borrar saludo</button>
      <button  (click)="despedirse()" > Despedirse</button>
    </ng-container>

    <ng-template #soloBotonMostrar>
      <button (click)="invertirEstadoSaludo()">Mostrar Saludo</button>
    </ng-template>

  </div>


</div>

<ng-container *ngIf="mostrarSaludo; else imagenSinSaludo">
  <img src="/saludo.png" alt="Saludo animado" class="imagen-saludo" />
</ng-container>

<ng-template #imagenSinSaludo>
  <img src="/noSaludo.png" alt="Chica confundida" class="imagen-saludo" />
</ng-template>
