
<div class = 'contenedor'>

  <ng-container *ngIf=" mostrarSaludo ; else inputNombre" >
    <app-saludo-texto
      [colorSaludo]="colorSaludo"
      [nombre]="nombre | mayuscula"
    ></app-saludo-texto>

    <app-saludo-botones
      [nombre]="nombre | mayuscula"
      (mostrarSaludoFalse)="mostrarSaludo = $event"
      (colorSaludoChange)="colorSaludo=$event"
      (nombreChange)="nombre = $event"
    > </app-saludo-botones>
  </ng-container>

  <!-- else: Input -->
  <ng-template #inputNombre>
      <app-saludo-input-nombre
      (nombreAEmitir)="nombre = $event; mostrarSaludo = true; colorSaludo = '' "
      ></app-saludo-input-nombre>
  </ng-template>

</div>

  <app-saludo-imagen
    [mostrarSaludo]="mostrarSaludo"
  ></app-saludo-imagen>
