
<div class = 'botones'>

  <ng-container *ngIf="mostrarSaludo; else soloBotonMostrar">
    <button (click)="cambiarColor('rojo')"> Saludo en ROJO</button>
    <button (click)="cambiarColor('verde')"> Saludo en VERDE</button>
    <button (click)="invertirEstadoSaludo()" > Borrar saludo</button>
    <button  (click)="despedirse()" > Despedirse</button>
  </ng-container>

  <ng-template #soloBotonMostrar>
    <button (click)="invertirEstadoSaludo()">Mostrar Saludo</button>
  </ng-template>

</div>
