.titulo{
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

h2{
  font-size:  48px;
}

h3{
  font-size:  35px;
}

.contenedor {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #f4e2d6;
}


.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #bbb;
}


input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 60%;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
  font-family: "Winky Rough", sans-serif;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #888;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.imagen-saludo {
  display: block;
  margin: 30px auto 0;
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
}

